body:has(.home) {
  background-image: url('../../assets/home/background-home-mobile.jpg');
}
@media screen and (min-width: 375px) {
  body:has(.home) {
    background-image: url('../../assets/home/background-home-tablet.jpg');
  }
}
@media screen and (min-width: 1100px) {
  body:has(.home) {
    background-image: url('../../assets/home/background-home-desktop.jpg');
  }
}
@keyframes textShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textShowMove {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.home {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  place-items: center;
  padding: 0 30px;
}
.home--heading--1 {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;

  text-transform: uppercase;
  /* opacity: 0;
  animation: textShow 0.75s 0.25s ease forwards; */
}
.home--heading--2 {
  font-family: 'Bellefair';
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  /* opacity: 0;
  animation: textShow 0.75s 0.25s ease forwards; */
}
.home--paragraph {
  font-family: 'Barlow Condensed';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--primary);
  /* opacity: 0;
  animation: textShow 0.75s 1.75s ease forwards; */
}
.home--cta {
  margin-top: 50px;
  cursor: pointer;

  background-color: var(--light);

  font-family: 'Bellefair';
  font-size: 20px;
  letter-spacing: 1.25px;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);

  display: grid;
  place-items: center;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;

  border: none;
  outline: none;
  user-select: none;
  /* opacity: 0; */
  /* animation: textShowMove 0.75s 1s ease forwards; */
}
.home--cta::after {
  content: '';
  width: 164%;
  height: 164%;
  border-radius: 50%;

  background-color: var(--light);
  opacity: 0.1;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: all 0.25s ease-in-out;
}
.home--cta:hover::after,
.home--cta:focus::after {
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (min-width: 560px) {
  body:has(.home) {
    padding-top: 202px;
  }
  .home > * {
    max-width: 450px;
  }
  .home--heading--1 {
    font-size: 20px;
    letter-spacing: 3.4px;
  }
  .home--heading--2 {
    font-size: 150px;
  }
  .home--paragraph {
    font-size: 16px;
    line-height: 28px;
    padding: 0 50px;
  }
  .home--cta {
    font-size: 32px;
    width: 242px;
    height: 242px;
  }
}

@media screen and (min-width: 1100px) {
  .home {
    padding: calc(387px - 212px) 165px;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'heading1 __' 'heading2 cta' 'paragraph cta';
  }
  .home--heading--1 {
    grid-area: heading1;

    width: 100%;
    text-align: start;
    font-size: 28px;
    letter-spacing: 4.7px;
  }
  .home--heading--2 {
    width: 100%;
    text-align: start;
    grid-area: heading2;
  }
  .home--paragraph {
    grid-area: paragraph;

    text-align: start;
    font-size: 18px;
    line-height: 32px;
    padding: unset;
    width: 354px;
    justify-self: start;
  }
  .home--cta {
    justify-self: end;
    grid-area: cta;
    width: 274px;
    height: 274px;
  }
}
