.header {
  width: 100vw;
  position: fixed;
  top: 40px;

  display: grid;
  grid-template-columns: auto 1fr 2fr;
  place-items: center;
  padding-left: 74px;
}
.header--logo {
}
.header--line {
  height: 1px;
  background-color: var(--light);
  opacity: 0.25;
  width: 473px;
  transform: translateX(64px);
  z-index: 2;
}
.header--nav {
  background-color: rgba(255, 255, 255, 0.04);
  width: 100%;
  height: 96px;
  backdrop-filter: blur(40px);
}
.header--nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: 100%;

  position: relative;
}
.indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 40px;
  background-color: var(--light);
}
.nav--item {
}
.nav--item:hover ~ .indicator {
  opacity: 0.5;
}
.nav--item__bold {
  font-weight: 700;
}
